.navbar {
  text-align: center;
  text-decoration: none;

}

.a {
  color: white;
  margin: 20px 0 0 5rem;
  
}



.icon{
   
    text-decoration: none;
    color: #00adb5;
    text-decoration: none;
    color: #eeeeee;
  
}