.navbar {
  text-align: center;

}

.a {
  color: white;
  margin: 20px 0 0 5rem;
  
}
.icon{
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-right: 20px;
}


.logoutButton
{
  background-color: black;
  color: white;
  border: 2px solid blue;
  padding: 5px;
  border-radius: 11px;
  margin-left: 35px;

}